# Copyright(C) 2020 Hex Five Security, Inc. - All Rights Reserved

# MultiZone reserved: 8K @0x08000000, 4K @0x01800000, 3.5K @0x01000000

Tick = 10 # ms

Zone = 1
    plic = 70,71,72,73,75 # MAC1 J2
    base = 0x0800F000; size =  196K; rwx = rx # PROG
    base = 0x0804C000; size =  160K; rwx = rw # DATA
    base = 0x20008000; size =    4K; rwx = rw # MMC
    base = 0x20112000; size =    8K; rwx = rw # GEM_B_LOW
    base = 0x20002000; size =     4; rwx = r  # MSS_TEMP0 (DSN low 32-bit ro)
    base = 0x20002018; size =     4; rwx = w  # MSS_RESET_CR (sys reboot)
    base = 0x02000004; size =    16; rwx = rw # CLINT msip h1,h2,h3,h4
   #base = 0x20000000; size = 0x100; rwx = rw # UART0 (debug)    

Zone = 2
    irq = 27 # UART0
    base = 0x08040000; size =   16K; rwx = rx # FLASH
    base = 0x08074000; size =   16K; rwx = rw # RAM
    base = 0x20000000; size = 0x100; rwx = rw # UART0

Zone = 3
    plic = 43, 44 # SW2, SW3
    base = 0x08044000; size =   16K; rwx = rx # FLASH
    base = 0x08078000; size =   16K; rwx = rw # RAM
    base = 0x20122000; size = 0x100; rwx = rw # GPIO2 LEDS

Zone = 4
    base = 0x08048000; size =   16K; rwx = rx # FLASH
    base = 0x0807C000; size =   16K; rwx = rw # RAM

Hart = 1 # Zone 5
    base = 0x80000000; size =   64M; rwx = rx  # PROG
    base = 0x90000000; size =   32M; rwx = rw  # DATA
    base = 0x20100000; size = 0x100; rwx = rw  # UART1
    base = 0x01000A00; size = 0x100; rwx = rw  # MZ IPC h1
    base = 0x02000004; size =     4; rwx = rw  # CLINT msip h1
    base = 0x02004008; size =     8; rwx = rw  # CLINT mtimecmp h1

Hart = 2 # Zone 6
    base = 0x84000000; size =   64M; rwx = rx  # PROG
    base = 0x92000000; size =   32M; rwx = rw  # DATA
    base = 0x20102000; size = 0x100; rwx = rw  # UART2
    base = 0x01000B00; size = 0x100; rwx = rw  # MZ IPC h2
    base = 0x02000008; size =     4; rwx = rw  # CLINT msip h2
    base = 0x02004010; size =     8; rwx = rw  # CLINT mtimecmp h2

Hart = 3 # Zone 7
    base = 0x88000000; size =   64M; rwx = rx  # PROG
    base = 0x94000000; size =   32M; rwx = rw  # DATA
    base = 0x20104000; size = 0x100; rwx = rw  # UART3
    base = 0x01000C00; size = 0x100; rwx = rw  # MZ IPC h3
    base = 0x0200000C; size =     4; rwx = rw  # CLINT msip h3
    base = 0x02004018; size =     8; rwx = rw  # CLINT mtimecmp h3

Hart = 4 # Zone 8
    base = 0x8C000000; size =   64M; rwx = rx  # PROG
    base = 0x96000000; size =   32M; rwx = rw  # DATA
    base = 0x20106000; size = 0x100; rwx = rw  # UART4
    base = 0x01000D00; size = 0x100; rwx = rw  # MZ IPC h4
    base = 0x02000010; size =     4; rwx = rw  # CLINT msip h4
    base = 0x02004020; size =     8; rwx = rw  # CLINT mtimecmp h4

Hart = 1,2,3,4
    base = 0x08002000; size =   52K; rwx = rx  # PROG boot
    base = 0x00000100; size = 0xF00; rwx = rwx # DEBUG
    base = 0x02000000; size =     4; rwx = w   # CLINT msip h0
    base = 0x0200BFF8; size =     8; rwx = r   # CLINT mtime (ro)
    base = 0x0; size = 0x4000000000; rwx = --- # DENY ALL
